<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteCond %{REQUEST_URI} !404testpage*
  RewriteCond %{REQUEST_URI} !(\.css|\.js|\.jpg|\.png|\.gif)$ [NC]
  RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
